@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap");
*{
  box-sizing: border-box;
  margin:0;
}
.App{
  position:relative;
}
:root{
  --primary-color:#dadbee;
  --secondary-color:rgba(0, 0, 0, 0.911);
  --nav-bar:#6366f1;
  --add-btn:#6366f1;
  --box-color-tb:rgba(0, 0, 0, 0.16);
  --box-color-rl:rgba(0, 0, 0, 0.23);
  --box-hover:rgb(239 246 255);
}
body{
  position:relative;
  font-family: "Montserrat","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  line-height:24px;
}
[data-theme='light']{
  --box-hover:rgb(239 246 255);
  --primary-color:#f0f0f7;
  --nav-bar:#6366f1;
  --secondary-color:rgba(0, 0, 0, 0.911);
  --box-color-tb:rgba(0, 0, 0, 0.16);
  --box-color-rl:rgba(0, 0, 0, 0.23);
    background-color: var(--primary-color);
    color:var(--secondary-color)
}
[data-theme='dark']{
  --box-hover:rgb(26, 22, 22);
  --nav-bar:rgba(0, 0, 0, 0.911);
  --primary-color:rgba(0, 0, 0, 0.911);
  --secondary-color:#f0f0f7;
  --box-color-tb:rgba(248, 245, 245, 0.897);
  --box-color-rl:#f8f5f5fa;
    color: var(--secondary-color);
    background-color:var(--primary-color);
}