@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap);

html{
  position:relative;
}
*{
  box-sizing: border-box;
  margin:0;
}
:root{
  --primary-color:white;
  --secondary-color:black;
  --nav-bar:#6366f1;
}
body{
  font-family:Inter,sans-serif;
  line-height:24px
}
[data-theme='light']{
  background-color: var(--primary-color);
  color:var(--secondary-color)
}
[data-theme='dark']{
  color: var(--primary-color);
  background-color:var(--secondary-color)
}